body {
  background-color: #333;
  margin: 0;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: #046942;
  padding: 3rem;
  border-radius: 1.25rem;
  border: 1px solid rgb(71, 199, 114);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
  color:rgb(71, 199, 114);
  text-transform: uppercase;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1.25rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-top:20px;
}

input[type=checkbox] {
  height: 30px;
}


input[type=number] {
  height: 18px;
  padding-left: 19px;
  position:relative;
  left: -3px;
  background-color: #eee;
  border: none;
}
input[type=checkbox] {
  accent-color: rgb(71, 199, 114);
  color: #69045c;
  position:relative;
  left: -44%;
}

.title {
  margin: 0;
  text-align: center;
}

label {
  font-weight: bold;
}

.character-amount-container {
  display: flex;
  align-items: center;
}

input[type=range] {
  -webkit-appearance: none;
  background-color: silver;
  width: 200px;
  height:20px;
}

input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
  background-color: #666;
  opacity: 0.5;
  width: 20px;
  height: 26px;
}

document.getElementById("input").style.backgroundColor = '#000000';

.number-input {
  width: 2rem;
}

.password-display {
  background-color: white;
  color: rgb(40, 40, 40);
  padding: 1rem;
  border: 1px solid #333;
  height: 2rem;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  border-radius: .5rem;
  font-size: 1rem;
  
}

.btn {
  grid-column: span 2;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: .5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
  min-height:50px;
  margin-top:10px;
}

.btn:hover {
  background-color: #FFFFFF33;
}